In [1]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cv2

In [2]:
df_train = pd.read_csv("../data/raw_data/train.csv")
df_train

         video_id         time      event           event_attributes
0      1606b0e6_0   200.265822      start                        NaN
1      1606b0e6_0   201.150000  challenge     ['ball_action_forced']
2      1606b0e6_0   202.765822        end                        NaN
3      1606b0e6_0   210.124111      start                        NaN
4      1606b0e6_0   210.870000  challenge  ['opponent_dispossessed']
...           ...          ...        ...                        ...
11213  ecf251d4_0  3056.587000  challenge  ['opponent_dispossessed']
11214  ecf251d4_0  3058.072895        end                        NaN
11215  ecf251d4_0  3068.280519      start                        NaN
11216  ecf251d4_0  3069.547000    throwin                   ['pass']
11217  ecf251d4_0  3070.780519        end                        NaN

[11218 rows x 4 columns]

In [ ]:
import yolov5